All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul><%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %> <%= link_to "Delete", company_job_path(@company, job), method: :delete %></ul>
<% end %>

<%= render partial: 'contacts/form' %>

<h2>Contacts (<%= @company.contacts.size %>)</h2>
<%= render partial: 'companies/contact', collection: @company.contacts.reverse %>


<%= link_to "New Job", new_company_job_path %>
