Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>


<%= render partial: 'comments/form' %>

<h2>Comments (<%= @job.comments.size %>)</h2>
<%= render partial: 'jobs/comment', collection: @job.comments.reverse %>

<%= link_to "New Job", new_company_job_path %>
<%= link_to "Edit", edit_company_job_path %>
<%= link_to "Delete", company_job_path(@company, @job), method: :delete %>
